* {
  box-sizing: border-box;
}
body { /*default body style (black Verdana)*/
  font-family:Verdana;
  color:#000000; 
}


.main-toolbar {
  display: flex;
  justify-content: center; /* Centers the items horizontally */
  margin-top: 20px; /* Adjust the value as needed for the desired amount of translation */
}

/* Style for all buttons within the main-toolbar */
.main-toolbar .btn {
  margin: 0 5px; /* Adjust the value as needed for the desired amount of spacing between buttons */
  background-color: #91859b;;
}

.filter-buttons {
  margin-top: 150px; /* Adds some space above the row */
}

.filter-buttons .btn {
  margin-left: 10px;
  margin-right: 10px;
}


#my-canvas { /* DRAWING CANVAS */
  border: 3px solid #957daa;
  margin-top: 120px; /* This pushes the canvas down a bit from the top of the page */
}


.toolbar { /* OUR ADDITOINAL DROP DOWN TOOL BAR*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1E3FF;
  height: 50px;
  width: 60%;
  margin: 0 auto; /* This will center the div horizontally */
  border-radius: 30px; /* make edge curve round*/
  border-bottom: 1px solid #ccc;
}

.logo-container {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  background-color: #7A1FA2; /* Purple background color for the logo */
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Comic Sans MS", cursive;
}


.logo-text {
  color: white;
  font-weight: bold;
}




@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 1000px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}